# Node modules
node_modules/

# Build artifacts
build/
dist/

# Logs
*.log

# OS files
.DS_Store
Thumbs.db

# IDE files
.vscode/
.idea/

# Editor files
*.sublime-text
*.sublime-workspace

# Package files
package-lock.json
yarn.lock

# Config files
.env
.env.local
.env.development
.env.production

# GitHub Pages files
.github/
.github/workflows/
.github/settings.yml

# Other
coverage/
public/ # ignore public folder, GitHub Pages will serve files from root